.access-chart-container {
  h2, h3 {
    color: white;
  }

  .access-data {
    margin-top: 50px;
    display: flex;
    justify-content: center;

    h3 {
      margin-left: 10px;
      margin-top: 5px;
    }
  }
}